<div class="d-flex flex-column bg-light main-container">
  <app-header [appName]="appName"></app-header>

  <router-outlet></router-outlet>

  <footer class="d-flex justify-content-center bg-light">
    <p class="m-0">
      Designed & Developed by
      <a
        href=""
        class="text-decoration-none"
        color="primary"
        >Mohammed Faraz Kabbo</a
      >.
      <a
        href=""
        class="text-decoration-none"
        color="primary"
        >Zaaid Ahmed</a
      >.
      <a
        href=""
        class="text-decoration-none"
        color="primary"
        >Fahmid Chowdhury</a
      >.
      <a
        href=""
        class="text-decoration-none"
        color="primary"
        >Pratham</a
      >.
    </p>
  </footer>
</div>
